.new-task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 6px;
    background-color: #fff;
    border-radius: 9999px;
    min-height: 22px;

    .new-task-input {
        padding: 7px 16px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        border-color: transparent;
        outline: none;


    }
}